@font-face {
    font-family: Agrandir;
    src: url(Agrandir-GrandHeavy.otf);
}

.header {
    padding: 10px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
  }

.h1header {
    color: lightblue;
    font-family: Agrandir;
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-bottom: 0;
}

.h3header{
    font-size: 20px;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;
}

body {
    text-align: center;
    background-image: url(bg2.webp);
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 200;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 2px;
}

p {
    text-indent: 20px;
}

.to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
}

.to-top-button:hover {
    background-color: #0056b3;
}
