@font-face {
    font-family: Agrandir;
    src: url(Agrandir-GrandHeavy.otf);
}

body {
    background-image: url(bg2.webp);
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: cornflowerblue;
    font-size: 60px;
    margin: 0; 
}

/* header */
.header {
    padding: 10px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
  }

.h1header {
    color: lightblue;
    font-family: Agrandir;
}

h1:first-of-type {
    margin-bottom: 20px; /* Adjust the value as needed */
}

.h3header{
    font-size: 20px;
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    font-style: italic;
}

.header {
    text-align: center;
}

.container{
    display: flex;
    width: 100%;
    height: 80%;
    margin: 5% auto 0;
}

.konten{
    margin: 5px;
}

.konten img{
    width: 100%;
    object-fit: contain;
    -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0007);
}

.konten img:hover{
    outline: 5px solid yellow;
    transition: 1s;
}

.konten:nth-child(1):hover{
    flex-basis: 80%;
}
.konten:nth-child(2):hover{
    flex-basis: 80%;
}
.konten:nth-child(3):hover{
    flex-basis: 80%;
}
.konten:nth-child(4):hover{
    flex-basis: 80%;
}
.konten:nth-child(5):hover{
    flex-basis: 80%;
}
.konten:nth-child(6):hover{
    flex-basis: 80%;
}